/*Symbol 引用*/
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/*Unicode 引用*/
@font-face {
  font-family: 'iconfont';
  src: url('../font/font_0xas4kzb5juk/iconfont.eot');
  src: url('../font/font_0xas4kzb5juk/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/font_0xas4kzb5juk/iconfont.woff2') format('woff2'),
  url('../font/font_0xas4kzb5juk/iconfont.woff') format('woff'),
  url('../font/font_0xas4kzb5juk/iconfont.ttf') format('truetype'),
  url('../font/font_0xas4kzb5juk/iconfont.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}