<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="title">Title</div>
<div id="b1"></div>
<div id="b2"></div>
<div id="b3"></div>
<!--<img src="./img/b.jpg" alt="b.jpg">-->
<img src="<%= require( './img/b.jpg') %>" alt="b.jpg" width="400">

<div class="myPostcssTest"></div>

<!--Symbol 引用-->
<svg class="icon" aria-hidden="true">
  <use xlink:href="#icon-cityscape"></use>
</svg>
<!--Unicode 引用-->
<span class="iconfont">&#xe689;</span>
<!--font-class 引用-->
<span class="iconfont icon-cityscape"></span>

</body>
</html>